.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; /* Displays flex box */
  flex-flow: row wrap; /* Resizes squares when window size changes */
  justify-content: space-around; /* Adjustes size relative to screen*/
}

.flex-item{
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height:150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
